PRIVATE_KEY=
GOAT_RPC=https://rpc.testnet3.goat.network
DIA_ORACLE_ADDRESS=0xef094fff94a7954ba3e5ed81dbafe7350e7e9720
ERC8004_REGISTRY=
USDC_ADDRESS=0x29d1ee93e9ecf6e50f309f498e40a6b42d352fa1
VAULT_ADDRESS=            # Filled after deploy
CREDIT_SCORE_ADDRESS=     # Filled after deploy
