PORT=3000
PRIVATE_KEY=
THIRDWEB_SECRET_KEY=
SERVER_WALLET_ADDRESS=
VAULT_ADDRESS=
CREDIT_SCORE_ADDRESS=
IDENTITY_REGISTRY=0x8004A818BFB912233c491871b3d84c89A494BD9e
REPUTATION_REGISTRY=0x8004B663056A597Dffe9eCcC1965A193B7388713
USDC_ADDRESS=
WETH_ADDRESS=
CELO_RPC=https://forno.celo-sepolia.celo-testnet.org
